<div class="app">
    <main class="profile-container">
        <div class="profile-wrapper">
            <!-- Аватар пользователя -->
            <div class="profile-avatar">
                <img src="" alt="avatar">
            </div>

            <!-- Имя пользователя -->
            <h2 class="profile-name">{{login}}</h2>

            <!-- Информация о пользователе -->
            <table class="profile-info">
                <tr>
                    <th class="label">Index</th>
                    <th class="value">Value</th>
                </tr>
                <tbody>
                <tr>
                    <td class="left-td">Почта</td>
                    <td class="right-td">{{email}}</td>
                </tr>
                <tr>
                    <td class="left-td">Логин</td>
                    <td class="right-td">{{login}}</td>
                </tr>
                <tr>
                    <td class="left-td">Имя</td>
                    <td class="right-td">{{firstname}}</td>
                </tr>
                <tr>
                    <td class="left-td">Фамилия</td>
                    <td class="right-td">{{lastname}}</td>
                </tr>
                <tr>
                    <td class="left-td">Имя в чате</td>
                    <td class="right-td">{{chatLogin}}</td>
                </tr>
                <tr>
                    <td class="left-td">Телефон</td>
                    <td class="right-td">{{phone}}</td>
                </tr>
                </tbody>
            </table>
            <table class="profile-links">
                <tr>
                    <th class="label">Index</th>
                </tr>
                <tbody>
                <tr>
                    <td class="left-td">
                        {{> Index class="change-profile-link" href="#" data-page="changeUserProfile" text="Изменить данные" }}
                    </td>
                </tr>
                <tr>
                    <td class="left-td">
                        {{> Index class="change-password-link" href="#" data-page="changeUserPassword" text="Изменить пароль" }}
                    </td>
                </tr>
                <tr>
                    <td class="left-td">
                        {{> Index class="profile-login-link" href="#" data-page="authorize" text="Выйти" }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
